@model ShoppingCartViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" ">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="~/shoppingCart/style.css">
</head>
<body>
    <main class="page">
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2>Shopping Cart</h2>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="items">
                                @foreach (var item in Model.ShoppingCarts)
                                {
                                    <div class="product">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <img class="img-fluid mx-auto d-block image" src="~/@item.Product.Img">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="info">
                                                    <div class="row">
                                                        <div class="col-md-5 product-name">
                                                            <div class="product-name">
                                                                <div class="product-info">
                                                                    <div>Description: <span class="value">@item.Product.Description</span></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 quantity">
                                                            <label for="quantity">Quantity:</label>
                                                            <div class="btn-group" role="group">
                                                                <a class="btn btn-primary" asp-action="Plus" asp-route-cartId="@item.Id">+</a>
                                                                <span style="margin:5px">@item.Count</span>
                                                                <a class="btn btn-primary" asp-action="Minus" asp-route-cartId="@item.Id">-</a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 price">
                                                            <span>$@item.Product.Price</span>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <a asp-action="Remove" asp-route-cartId="@item.Id" class="btn btn-danger">X</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="summary">
                                <h3>Summary</h3>
                                @* <div class="summary-item"><span class="text">Subtotal</span><span class="price">$360</span></div>
                                <div class="summary-item"><span class="text">Discount</span><span class="price">$0</span></div>
                                <div class="summary-item"><span class="text">Shipping</span><span class="price">$0</span></div> *@
                                <div class="summary-item"><span class="text">Total</span><span class="price">$@Model.TotalPrice</span></div>
                                @* <button type="button" class="btn btn-primary btn-lg btn-block">Checkout</button> *@
                                <a href="\Customer\Cart\Summary" class="btn btn-primary btn-lg btn-block"> Checkout </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
