@model OrderViewModel

<form method="post">
    <div class="container">
        <div>
            <input hidden asp-for="OrderHeader.Id" />
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-12 col-lg-6 pb-4">
                        <div class="row">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span>PickUp Details</span>
                            </h4>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Name</div>
                            <div class="col-9">

                                <input asp-for="OrderHeader.Name" type="text" class="form-control" />
                                <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Phone</div>
                            <div class="col-9">
                                <input asp-for="OrderHeader.Phone" type="text" class="form-control" />
                                <span asp-validation-for="OrderHeader.Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Address</div>
                            <div class="col-9">

                                <input asp-for="OrderHeader.Address" type="text" class="form-control" />
                                <span asp-validation-for="OrderHeader.Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">City</div>
                            <div class="col-9">
                                <input type="text" asp-for="OrderHeader.City" class="form-control" />
                                <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row my-1">
                            <div class="col-3">Email</div>
                            <div class="col-9">
                                <input asp-for="OrderHeader.AppUser.Email" readonly type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Order Date</div>
                            <div class="col-9">

                                <input value="@Model.OrderHeader.OrderDate.ToShortDateString()" readonly type="text" class="form-control" />

                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Carrier</div>
                            <div class="col-9">

                                <input asp-for="OrderHeader.Carrier" id="carrier" type="text" class="form-control" />

                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Tracking Number</div>
                            <div class="col-9">

                                <input asp-for="OrderHeader.TrackingNumber" id="tracking" type="text" class="form-control" />

                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Shipping Date</div>
                            <div class="col-9">
                                <input value="@Model.OrderHeader.ShippingDate.ToShortDateString()" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Session ID</div>
                            <div class="col-9">
                                <input type="text" asp-for="OrderHeader.SessionId" readonly class="form-control" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Payment Intent ID</div>
                            <div class="col-9">
                                <input type="text" asp-for="OrderHeader.PaymentIntentId" readonly class="form-control" />
                            </div>
                        </div>

                        <div class="row my-1">

                            <div class="col-3">Payment Date</div>
                            <div class="col-9">
                                <input value="@Model.OrderHeader.PaymentDate.ToShortDateString()" type="text" class="form-control" />
                            </div>

                        </div>
                        <div class="row my-1">
                            <div class="col-3">Payment Status</div>
                            <div class="col-9">
                                <input type="text" asp-for="OrderHeader.PaymentStatus" class="form-control" />
                            </div>
                        </div>
                        <input type="submit" asp-action="UpdateOrderDetails" class="btn btn-primary form-control my-1" value="Update Pickup Details" />



                    </div>
                    <div class="col-12 col-lg-5 offset-lg-1">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span>Order Summary</span>
                        </h4>
                        <label class="btn btn-outline-primary form-control my-2">Order Status - @Model.OrderHeader.OrderStatus</label>

                        <ul class="list-group mb-3">
                            @foreach (var item in Model.OrderDetails)
                            {
                                <li class="list-group-item d-flex justify-content-between p-2">
                                    <div class="row container">
                                        <div class="col-8">

                                            <h6 class="my-0 text-primary">@item.Product.Name</h6>
                                            <small class="text-muted">Price : @item.Product.Price</small><br />
                                            <small class="text-muted">Quantity : @item.Count</small>
                                        </div>
                                        <div class="col-4 text-end">
                                            <p class="text-success">@((item.Count * item.Price).ToString("c"))</p>
                                        </div>
                                    </div>
                                </li>
                            }


                            <li class="list-group-item bg-dark">
                                <div class="row container">
                                    <div class="col-6">
                                        <h5 class="text-white">TOTAL </h5>
                                    </div>
                                    <div class="col-6 text-end">
                                        <h5 class="text-white">@(Model.OrderHeader.TotalPrice.ToString("c"))</h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        @if (Model.OrderHeader.OrderStatus == SD.Approve)
                        {
                            <input type="submit" asp-action="StartProccess" class="btn btn-primary" value="Start Proccess" />
                        }
                        @if (Model.OrderHeader.OrderStatus == SD.Proccessing)
                        {
                            <input type="submit" asp-action="StartShip" onclick="return CheckData()" class="btn btn-success" value="Start Shipping" />
                        }
                        @if (Model.OrderHeader.OrderStatus != SD.Cancelled || Model.OrderHeader.OrderStatus != SD.Refund)
                        {
                            <input type="submit" class="btn btn-danger" asp-action="CancelOrder" value="Cancel Order" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {

	<script>

		function CheckData() {
			if (document.getElementById("carrier").value == '') {
				Swal.fire({
					title: 'There is an error',
					text: "Please Enter Carrier",
					icon: 'error',
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
				});
				return false;
			}
			if (document.getElementById("tracking").value == '') {
				Swal.fire({
					title: 'There is an error',
					text: "Please Enter Tracking Number",
					icon: 'error',
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
				});
				return false;
			}
			return true;
		}
	</script>

}