@model IEnumerable<AppUser>

@{
    ViewBag.PageTitle = "Users Management";
    ViewBag.CardTitle = "View Users";

}

<div>
    <a href="/Identity/Account/Register" class="btn btn-primary">Create New User</a>
</div>
<br />

<table class="table table-hover" width="100%">
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Phone Number</td>
        <td>Actions</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>
                @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                {
                    <a class="btn btn-success" asp-action="LockUnlock" asp-route-id="@item.Id">
                        <i class="fas fa-lock-open"></i>
                    </a>
                }
                else
                {
                    <a class="btn btn-success" asp-action="LockUnlock" asp-route-id="@item.Id">
                        <i class="fas fa-lock"></i>
                    </a>
                }
                
            </td>
        </tr>
    }
</table>
